<div class="container mx-auto">
    <div class="px-6 py-24 bg-white isolate sm:py-32 lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-4xl font-semibold tracking-tight text-gray-900 text-balance sm:text-5xl">สร้างบัญชี</h2>
        </div>

        <div class="max-w-md mx-auto" *ngIf="this.error.length >0">
            <app-error-panel [visible]="true" [messages]="error"
                ></app-error-panel>
        </div>


        <form action="#" method="POST" class="max-w-xl mx-auto mt-16 sm:mt-20">
           
            <dx-form class="flex justify-center max-w-md mx-auto mt-16 text-end sm:mt-20" id="form"
                [formData]="registerData" [colCount]="1">
                <dxi-item itemType="group">

                    <dxi-item dataField="username" [isRequired]="true" [label]="{ text: 'ชื่อผู้ใช้' }"></dxi-item>
                    <dxi-item dataField="password" [isRequired]="true" [label]="{ text: 'รหัสผ่าน' }"></dxi-item>
                    <dxi-item dataField="confirmPassword" [isRequired]="true"
                        [label]="{ text: 'ยืนยันรหัสผ่าน' }"></dxi-item>

                    <dxi-item  dataField="role" [label]="{ text: 'ประเภท' }" editorType="dxSelectBox" [editorOptions]="{ 
    dataSource: customerRole, 
    valueExpr: 'roleId', 
    displayExpr: 'roleName' 
  }">
                     
                    </dxi-item>
                </dxi-item>
            </dx-form>
            <div class="flex justify-center mt-10 ml-20">
                <button type="submit"
                    class=" block w-full max-w-xs rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    (click)="onSubmit()">สร้างบัญชีผู้ใช้</button>
            </div>
        </form>
    </div>

</div>