<div class="">

    <app-head-underline [title]="'Support Assignments'"></app-head-underline>

</div>




<div class="mx-10 mt-10 waitingTask">

    <app-head-underline [title]="'Waiting Task'"></app-head-underline>

    <div class="flex items-center justify-between max-w-full my-5 ml-10 mr-10 search-box">
        <div class="gap-4 space-y-4 text-end text-box">

            <div class="flex items-center">
                <label class="w-40 mr-2 font-bold">Document Number </label>
                <div class="flex-1">
                    <app-text-box class="w-full" [value]="fieldDocNo!" (onValueChanged)="onDocumentChange($event)"
                        [placeHolder]="'Document Number'">
                    </app-text-box>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start">
            <div class="flex items-center text-end check-box">

                <label for="check-box" class="w-40 font-bold">Categories</label>
                <app-check-box [options]="categoriesCheckBoxItem" (optionsChange)="onCategoriesChanged($event)">
                </app-check-box>
            </div>
        </div>
        <div class="flex items-center gap-3">
            <dx-date-box [value]="startDate!" (onValueChanged)="onStartDateChange($event.value)"
                displayFormat="dd/MM/yyyy" type="date" placeholder="Start Date" width="200">
            </dx-date-box>

            <dx-date-box [value]="endDate!" (onValueChanged)="onEndDateChange($event.value)" displayFormat="dd/MM/yyyy"
                type="date" placeholder="End Date" width="200">
            </dx-date-box>
        </div>

    </div>
    <div class="pl-10 pr-10 datagrid-assignment">

        <div class="my-5" id="">
            <app-button [color]="'blue'" [message]="'Take All Task'"></app-button>
        </div>


        <dx-data-grid [dataSource]="unassignedTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column [headerCellTemplate]="'wrapHeader'" dataField="docNo" caption="Document Number" minWidth="80"
                width="100" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="100" width="120"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="80"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="100" alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" width="200"
                alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="80" width="140"
                alignment="center"></dxi-column>
            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="120" alignment="center"
                [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2 " *dxTemplate="let cell of 'actionCell'">
                <app-button [color]="'blue'" [message]="'Take'"
                    (clicked)="onSubmit(cell.data , 'Assigned')"></app-button>
                <!-- <app-button [color]="'red'" [message]="'Reject'"
                    (clicked)=" onSubmit(cell.data , 'Rejected')"></app-button> -->
            </div>




            <div *dxTemplate="let cellData of 'wrapCell'" class="break-words whitespace-normal text-center">
                {{ cellData.value }}
            </div>
            <div *dxTemplate="let headerData of 'wrapHeader'" class="break-words whitespace-normal text-center">
                {{ headerData.column.caption }}
            </div>

        </dx-data-grid>
    </div>
</div>


<div class="m-10 my-36">

    <app-head-underline [title]="'Process Task'"></app-head-underline>

    <div class="m-10">
        <dx-data-grid [dataSource]="assignedTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column [headerCellTemplate]="'wrapHeader'" dataField="docNo" caption="Document Number" minWidth="80"
                width="100" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="100" width="120"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="80" width="90"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="100" width="150"
                alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" width="200"
                alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="80" width="140"
                alignment="center"></dxi-column>
            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="250" alignment="center"
                [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
                <app-button [color]="'blue'" [message]="'Done'"
                    (clicked)="onSubmit(cell.data,'Done','AssignedJob')"></app-button>

                <app-button [color]="'red'" [message]="'Reject'"
                    (clicked)=" onSubmit(cell.data,'Rejected','AssignedJob')"></app-button>
                <app-button [color]="'yellow'" [message]="'Cancel'"
                    (clicked)=" onSubmit(cell.data,'CancelAssigned','AssignedJob')"></app-button>
            </div>


            <div *dxTemplate="let cellData of 'wrapCell'" class="break-words whitespace-normal text-center">
                {{ cellData.value }}
            </div>
            <div *dxTemplate="let headerData of 'wrapHeader'" class="break-words whitespace-normal text-center">
                {{ headerData.column.caption }}
            </div>
        </dx-data-grid>

    </div>
</div>



<div class="mx-10 my-36">

    <app-head-underline [title]="'Done Task'"></app-head-underline>

    <!-- <div class="m-10" id="">
        <app-button [message]="'Cancel All Task'"></app-button>
    </div> -->
    <div class="flex m-10">
        <dx-data-grid [dataSource]="doneTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column [headerCellTemplate]="'wrapHeader'" dataField="docNo" caption="Document Number" minWidth="80"
                width="100" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="100" width="120"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="80" width="90"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="100" width="150"
                alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" width="200"
                alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="80" width="140"
                alignment="center"></dxi-column>
            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="180" alignment="center"
                [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
                <app-button [color]="'red'" [message]="'Cancel'"
                    (clicked)=" onSubmit(cell.data,'CancelCompleted')"></app-button>
            </div>




            <div *dxTemplate="let cellData of 'wrapCell'" class="break-words whitespace-normal text-center">
                {{ cellData.value }}
            </div>
            <div *dxTemplate="let headerData of 'wrapHeader'" class="break-words whitespace-normal text-center">
                {{ headerData.column.caption }}
            </div>
        </dx-data-grid>

    </div>
</div>