<div class="">

    <app-head-underline [title]="'Support Assignments'"></app-head-underline>

</div>




<div class="mx-10 mt-10 waitingTask">

    <app-head-underline [title]="'Waiting Task'"></app-head-underline>

    <!-- <div class="flex justify-between pl-10 pr-10" id="">

        <div class="max-w-sm gap-4 text-box">
            <app-text-box [value]="FieldDocNo" [placeHolder]="'DocNo'"></app-text-box>
        </div>

        <div class="space-x-3 btn-group">
            <app-button [message]="'Create Form'"></app-button>
            <app-button [message]="'Create To'"></app-button>
        </div>
    </div>


    <div class="m-10 check-box">
        <app-check-box [text]="'Categories'" [options]="categoriesCheckBoxItem"
            (optionsChange)="onOptionsChanged($event)">
        </app-check-box>
    </div> -->

    <div class="flex items-center justify-between max-w-full my-5 ml-10 mr-10 search-box">
        <!-- Textbox ชิดซ้าย -->
        <div class="gap-4 space-y-4 text-end text-box">

            <div class="flex items-center">
                <label class="w-40 mr-2 font-bold">Document Number </label>
                <div class="flex-1">
                    <app-text-box class="w-full" [value]="fieldDocNo!" (onValueChanged)="onDocumentChange($event)"
                        [placeHolder]="'Document Number'">
                    </app-text-box>
                </div>

            </div>

        </div>

        <div class="flex flex-col items-start">
            <div class="flex items-center text-end check-box">

                <label for="check-box" class="w-40 font-bold">Categories</label>
                <app-check-box [options]="categoriesCheckBoxItem" (optionsChange)="onCategoriesChanged($event)">
                </app-check-box>
            </div>
        </div>




        <!-- Buttons ชิดขวา -->
        <div class="flex items-center gap-3">
            <dx-date-box [value]="startDate!" (onValueChanged)="onStartDateChange($event.value)"
                displayFormat="dd/MM/yyyy" type="date" placeholder="Start Date" width="200">
            </dx-date-box>

            <dx-date-box [value]="endDate!" (onValueChanged)="onEndDateChange($event.value)" displayFormat="dd/MM/yyyy"
                type="date" placeholder="End Date" width="200">
            </dx-date-box>
        </div>

    </div>





    <div class="pl-10 pr-10 datagrid-assignment">

        <dx-data-grid [dataSource]="unassignedTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column dataField="docNo" caption="Document No" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="80"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="130" alignment="center"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="200" alignment="center"></dxi-column>
            <!-- <dxi-column dataField="img" caption="Image" minWidth="200" alignment="center"></dxi-column> -->

            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="180" alignment="center" [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
                <app-button [color]="'blue'" [message]="'Take'"
                    (clicked)="onSubmit(cell.data , 'Assigned')"></app-button>
                <app-button [color]="'red'" [message]="'Reject'"
                    (clicked)=" onSubmit(cell.data , 'Rejected')"></app-button>
            </div>



        </dx-data-grid>


    </div>

</div>






<div class="m-10 my-36">

    <app-head-underline [title]="'Process Task'"></app-head-underline>

    <div class="m-10">
        <dx-data-grid [dataSource]="assignedTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column dataField="docNo" caption="Document No" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="80"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="130" alignment="center"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="200" alignment="center"></dxi-column>

            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="180" alignment="center" [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
                <app-button [color]="'blue'" [message]="'Done'" (clicked)="onSubmit(cell.data,'Done','AssignedJob')"></app-button>
                <app-button [color]="'red'" [message]="'Reject'"
                    (clicked)=" onSubmit(cell.data,'Rejected','AssignedJob')"></app-button>
            </div>

            <!-- Detail Grid Template -->



        </dx-data-grid>

    </div>
</div>



<div class="mx-10 my-36">

    <app-head-underline [title]="'Done Task'"></app-head-underline>

    <div class="m-10">
        <dx-data-grid [dataSource]="doneTaskDataSource" keyExpr="taskSeq" [showBorders]="true"
            [paging]="{ enabled: true, pageSize: 5 }">

            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>

            <dxi-column dataField="docNo" caption="Document No" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="issueCategoriesName" caption="Category" minWidth="80"
                alignment="center"></dxi-column>
            <dxi-column dataField="productName" caption="ProductName" minWidth="120" alignment="center"></dxi-column>
            <dxi-column dataField="br_Qty" caption="Quantity" minWidth="130" alignment="center"></dxi-column>
            <dxi-column dataField="rp_Location" caption="Location" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="detectedTime" caption="detected Time" minWidth="200" alignment="center"></dxi-column>
            <dxi-column dataField="systemStatusCode" caption="Status" minWidth="200" alignment="center"></dxi-column>
            <!-- <dxi-column dataField="img" caption="Image" minWidth="200" alignment="center"></dxi-column> -->
            <dxi-column [fixed]="true" [fixedPosition]="'right'" caption="Actions" width="180" alignment="center" [cellTemplate]="'actionCell'"></dxi-column>
            <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
                <!-- <app-button [color]="'blue'" [message]="'Done'" (clicked)="onSubmit(cell.data.id,'Rejected')"></app-button> -->
                <app-button  [color]="'red'" [message]="'Cancel'"
                    (clicked)=" onSubmit(cell.data,'CancelCompleted')"></app-button>
            </div>



        </dx-data-grid>

    </div>
</div>





<!-- reject pupup -->
<dx-popup [width]="500" [height]="450" [(visible)]="rejectPopupVisible" [showTitle]="true" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [title]="'Reject Task'" (onHiding)="onRejectPopupHide()">

    <div class="p-4 space-y-4">
        <!-- Label สำหรับ textarea -->
        <label class="block mb-1 font-medium text-gray-700">Reject Reason</label>
        <dx-text-area placeholder="Enter Issue Description" [(value)]="rejectDescriptions" [height]="100">
        </dx-text-area>

        <div class="flex justify-between gap-2 mt-4">
            <app-button [color]="'blue'" [message]="'Submit'" (clicked)="onSubmitReject()"></app-button>
            <app-button [color]="'red'" [message]="'Cancel'" (clicked)="onRejectPopupHide()"></app-button>
        </div>
    </div>
</dx-popup>
<!-- done pupup -->

<dx-popup [width]="500" [height]="350" [(visible)]="DonePopupVisible" [showTitle]="true" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [title]="'Reject Task'" (onHiding)="onDonePopupHide()">

    <div class="p-4 space-y-4">
        <!-- Label สำหรับ NumberBox -->
        <label class="block mb-1 font-medium text-gray-700">Quantity</label>
        <dx-number-box [(value)]="borrowQuantity" placeholder="Enter Quantity" [showSpinButtons]="true">
        </dx-number-box>

        <div class="flex justify-between gap-2 mt-4">
            <app-button [color]="'blue'" [message]="'Submit'" (clicked)="onDoneSubmit()"></app-button>
            <app-button [color]="'red'" [message]="'Cancel'" (clicked)="onDonePopupHide()"></app-button>
        </div>
    </div>
</dx-popup>