@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~devextreme/dist/css/dx.light.css";


::ng-deep .dx-datagrid .dx-header-row>td {
  text-align: center;
}



.dx-datagrid .dx-datagrid-headers .dx-header-row>td {
  vertical-align: middle !important;
}

.dx-datagrid-rowsview .dx-datagrid-table .dx-freespace-row,
.dx-datagrid-rowsview .dx-datagrid-table .dx-virtual-row {
  border-top: 0;
  border-bottom: 0;
  height: 0px !important;
}

.dx-datagrid .dx-row>td {
  padding: 6px;
}

.dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
  padding-top: 0 !important;
}


/* ปรับขนาด dx-text-box ทุกตัวในโปรเจ็กต์ */
.dx-textbox .dx-texteditor-input {
    height: 1rem;        /* ความสูงของ input */
    line-height: 2rem;   /* ให้ข้อความอยู่ตรงกลาง */
    padding: 0 0.5rem;   /* ปรับ padding ซ้าย-ขวา */
    font-size: 0.875rem; /* ปรับขนาดตัวอักษร */
}

.dx-textbox .dx-texteditor-container {
    height: 2.1rem;        /* ความสูงของ container */
}

/* สำหรับ placeholder */
.dx-textbox .dx-texteditor-input::placeholder {
    font-size: 0.75rem;  /* ขนาด */
    font-weight: 400;    /* ปกติ ไม่หนา */
    color: #888;
    opacity: 1;
}

/* สำหรับตัวหนังสือปกติใน input */
.dx-textbox .dx-texteditor-input {
    font-weight: 400;    /* ปกติ ไม่หนา */
}
