<app-head-underline [title]="'User Form'"></app-head-underline>
<div class="flex justify-between max-w-full ml-10 mr-10 items- search-box">
  <div class="gap-4 space-y-4 text-end text-box">

    <div class="flex items-center">
      <label class="w-40 mr-2 font-bold">Document Number </label>
      <div class="flex-1">
        <app-text-box class="w-full" [value]="documentNumberSearch" [placeHolder]="'Document Number'">
        </app-text-box>
      </div>
    </div>

    <div class="flex items-center">
      <label class="w-40 mr-2 font-bold">Product Name</label>
      <div class="flex-1">
        <app-text-box class="w-full" [value]="productName" [placeHolder]="'Product Name'">
        </app-text-box>
      </div>
    </div>

  </div>

  <div class="flex flex-col ">
    <div class="flex items-center text-end check-box">

      <label for="check-box" class="w-40 font-bold">Categories</label>
      <app-check-box [options]="options" (optionsChange)="onCategoriesCheck($event)">
      </app-check-box>
    </div>

    <div class="flex items-center text-end check-box">
      <label for="check-box" class="w-40 font-bold">status</label>

      <app-check-box [options]="statusOptions" (onValueChanged)="onSearchChange($event)">
      </app-check-box>
    </div>

  </div>




  <div class="flex items-start gap-3 btns">
    <div class="flex items-center gap-3">
      <dx-date-box (onValueChanged)="onSearchChange($event)" displayFormat="dd/MM/yyyy" type="date"
        placeholder="Start Date" width="200">
      </dx-date-box>

      <dx-date-box (onValueChanged)="onSearchChange($event)" displayFormat="dd/MM/yyyy" type="date"
        placeholder="End Date" width="200">
      </dx-date-box>
    </div>

  </div>
</div>

<div class="gap-y-8 p-14">
  <app-head-underline [title]="'Unfinished Tasks'"></app-head-underline>
  <div class="mx-10 my-5">
    <dx-data-grid [dataSource]="unsuccessDataSource" keyExpr="formId" [showBorders]="true"
      [masterDetail]="{ enabled: true, template: 'unsuccessDetail' }" [paging]="{ enabled: true, pageSize: 5 }">

      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,20]" [showInfo]="true"></dxo-pager>

      <dxi-column alignment="center" dataField="docNo" caption="Document Number"></dxi-column>

      <dxi-column dataField="statusCode" caption="Status" cellTemplate="statusCell" alignment="center"></dxi-column>
      <div *dxTemplate="let cell of 'statusCell'">
        <span [ngClass]="getStatusClass(cell.data.statusCode)">
          {{ cell.data.statusCode }}
        </span>
      </div>

      <dxi-column alignment="center" dataField="progressing" caption="Progressing"></dxi-column>

      <dxi-column alignment="center" dataField="modifiedByName" caption="Modified By"></dxi-column>

      <dxi-column alignment="center" dataField="modifiedTime" caption="Modified Time"></dxi-column>

      <!-- Action Buttons Master Grid -->
      <!-- <dxi-column dataField="canEditDelete" type="buttons" *ngIf="'canEditDelete'">
        <dxi-button text="Edit" icon="edit"></dxi-button>
        <dxi-button text="Delete" icon="trash"></dxi-button>
      </dxi-column> -->

      <dxi-column width="120" caption="Actions" cellTemplate="actionCell"></dxi-column>

      <div *dxTemplate="let detail of 'actionCell'">
        <div class="flex space-x-2">
          <button *ngIf="detail.data.canEditDelete" class="px-2 py-1 text-white bg-blue-500 rounded">Edit</button>
          <button *ngIf="detail.data.canEditDelete" class="px-2 py-1 text-white bg-red-500 rounded">Delete</button>
        </div>
      </div>


      <!-- Master-Detail Template -->
      <div *dxTemplate="let masterData of 'unsuccessDetail'">
        <dx-data-grid [dataSource]="masterData.data.taskItems" [showBorders]="true" [columnAutoWidth]="true">
          <dxi-column dataField="issueCategoriesName" caption="Category"></dxi-column>
          <dxi-column alignment="center" dataField="productName" caption="Product"></dxi-column>
          <dxi-column dataField="quantity" caption="Quantity"></dxi-column>
          <dxi-column alignment="center" dataField="location" caption="Location"></dxi-column>
          <dxi-column alignment="center" dataField="detectedTime" caption="Detected Time"></dxi-column>


          <dxi-column dataField="statusCode" caption="Status" cellTemplate="statusCell" alignment="center"></dxi-column>
          <div *dxTemplate="let cell of 'statusCell'">
            <span [ngClass]="getStatusClass(cell.data.statusCode)">
              {{ cell.data.statusCode }}
            </span>
          </div>


        </dx-data-grid>
      </div>
    </dx-data-grid>
  </div>

  <hr class="my-8">

  <app-head-underline [title]="'Finished Tasks'"></app-head-underline>

  <div class="mx-10 my-5">
    <dx-data-grid [dataSource]="successDataSource" keyExpr="formId" [showBorders]="true"
      [masterDetail]="{ enabled: true, template: 'successDetail' }" [paging]="{ enabled: true, pageSize: 5 }">

      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,20]" [showInfo]="true"></dxo-pager>

      <dxi-column dataField="docNo" caption="Document Number"></dxi-column>
      <dxi-column dataField="statusCode" caption="Status"></dxi-column>
      <dxi-column dataField="progressing" caption="Progressing"></dxi-column>
      <dxi-column dataField="modifiedByName" caption="Modified By"></dxi-column>
      <dxi-column dataField="modifiedTime" caption="Modified Time"></dxi-column>

      <!-- Action Buttons Master Grid -->
      <dxi-column type="buttons">
        <dxi-button text="Edit" icon="edit"></dxi-button>
        <dxi-button text="Delete" icon="trash"></dxi-button>
      </dxi-column>

      <!-- Master-Detail Template -->
      <div *dxTemplate="let masterData of 'successDetail'">
        <dx-data-grid [dataSource]="masterData.data.taskItems" [showBorders]="true" [columnAutoWidth]="true">
          <dxi-column dataField="issueCategoriesName" caption="Category"></dxi-column>
          <dxi-column dataField="productName" caption="Product"></dxi-column>
          <dxi-column dataField="quantity" caption="Quantity"></dxi-column>
          <dxi-column dataField="location" caption="Location"></dxi-column>
          <dxi-column dataField="detectedTime" caption="Detected Time"></dxi-column>

          <!-- Action Buttons Detail Grid -->
          <dxi-column type="buttons">
            <dxi-button text="Edit" icon="edit"></dxi-button>
            <dxi-button text="Delete" icon="trash"></dxi-button>
          </dxi-column>
        </dx-data-grid>
      </div>
    </dx-data-grid>
  </div>
</div>