<app-head-underline [title]="'Relation mapping'"></app-head-underline>

<div class="m-11">
  <app-head-underline [title]="'Map Categories Product'"></app-head-underline>
  <div class="ml-10 groups">

    <div class="flex max-w-sm search-box">

      <label for="searchBox" class="w-36">Category Name</label>

      <div class="">
        <app-text-box #searchBox [value]="searchCategoriesValue" (onValueChanged)="onSearchValueChange($event)"
          [placeHolder]="'Search By Username'"></app-text-box>
      </div>
    </div>

    <div class="mt-1 ml-36 app-btn">
      <app-button (clicked)="initCategoriesDataSource(searchCategoriesValue)" [message]="'Search'"></app-button>
    </div>


  </div>
  <dx-data-grid #categoriesGrid class="m-10" [dataSource]="categoriesDataSource" [showBorders]="true" [paging]="{ pageSize: 5 }"
    [columnAutoWidth]="true">


    <dxo-paging [pageSize]="5" [pageIndex]="0"> <!-- Shows the second page -->
    </dxo-paging>

    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showNavigationButtons]="true">
    </dxo-pager>


    <dxo-remote-operations [filtering]="false" [paging]="true" [sorting]="true" [summary]="false" [grouping]="false"
      [groupPaging]="false">
    </dxo-remote-operations>


    <dxi-column dataField="issueCategoriesId" caption="ID" width="80" alignment="center"></dxi-column>
    <dxi-column dataField="issueCategoriesName" caption="ชื่อ" minWidth="150" alignment="left"></dxi-column>
    <dxi-column dataField="isProgramIssue" caption="Program Issue" width="150" alignment="center"></dxi-column>


    <dxi-column caption="Action" width="200" [fixed]="true" [fixedPosition]="'right'" cellTemplate="actionTemplate"
      alignment="center">
    </dxi-column>
    <div *dxTemplate="let cell of 'actionTemplate'">
      <dx-button class="m-2" (onClick)="getViewProductDetail(cell.data) " text="Info" type="default"
        stylingMode="contained"></dx-button>
      <dx-button class="m-2" (onClick)="productPopupShow(cell.data) " text="Map" type="success"
        stylingMode="contained"></dx-button>
    </div>
  </dx-data-grid>

</div>
<!-- *ngIf="categoriesMapProduct" -->
<div class="products-popup">
  <dx-popup [width]="400" [height]="400" [(visible)]="productVisible" [showTitle]="true" [dragEnabled]="true"
    [closeOnOutsideClick]="true" title="Map Categories Product" (onHiding)="productPopupHide()">

    <div class="popup-content" *ngIf="categoriesMapProduct ">
      <div class="flex justify-start mb-5 text-2xl user-box">
        <span class="label">Categories :</span>
        <span class="ml-5 username">{{ CategoriesName }}</span>
      </div>

      <dx-tag-box [dataSource]="categoriesDataSource" displayExpr="showText" valueExpr="value"
        (onValueChanged)="onChange($event)" [value]="categoriesMapProduct.product" [showSelectionControls]="true">
      </dx-tag-box>

      <div class="flex justify-center gap-2 mt-4">
        <app-button (clicked)="onProductSaveData()" [message]="'Save'"></app-button>
        <app-button color="red" (clicked)="productPopupHide()" [message]="'Close'"></app-button>
      </div>
    </div>
  </dx-popup>
</div>






<!-- viewDetail -->


<dx-popup [height]="500" [(visible)]="viewPopupDetail" [width]="800" [showTitle]="true" [closeOnOutsideClick]="true"
  title="Categories Info" (onHiding)="onViewPopupHide()">
  <div class="popup-content">
    <div class="flex justify-start" id="">
      <div class="flex justify-start text-2xl user-box">
        <span class="label">Category : </span>
        <span class="ml-5 username "> {{ viewUserCategoriesName }}</span>
      </div>
    </div>
    <app-head-underline [title]="'Products'"></app-head-underline>

    <div class="grid grid-cols-4 gap-1 mt-5 categories-item" *ngIf="viewCategoriesDetail.length > 1 ;else noViewData">


      <app-button *ngFor="let item of viewCategoriesDetail" [color]="'blue'" [message]="item"></app-button>


    </div>

    <ng-template #noViewData>
      <div class="flex justify-center mt-10">
        <p class="text-gray-500">No products mapped for this categories.</p>
      </div>
    </ng-template>
  </div>
</dx-popup>