<app-head-underline [title]="'Create New Task'"></app-head-underline>


<div class="flex m-20 space-x-10 text-end label-box">
  <label for="docNo ml " class="font-bold ">Document No</label>
  <div class="" id="docNo">
    <h4>{{documentNumber}}</h4>
  </div>
</div>

<div class="flex justify-end">
  <app-button (clicked)=" onClickCreateIssueTask()" class="mr-20" [message]="'Create Inform'"></app-button>
</div>

<div class="mt-10 ml-20 mr-20" id="">

  <div class="error">
    <div *ngIf="createTaskErrorMessage.form"
      class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
      <p>⚠ {{ createTaskErrorMessage.form }}</p>
      <!-- *ngFor="let errorItem of   createTaskErrorMessage.form " -->
    </div>

    <div *ngIf="createTaskErrorMessage.task"
      class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
      <p>⚠ {{ createTaskErrorMessage.task }}</p>
    </div>
  </div>
  <dx-data-grid [dataSource]="dataValidatedDataSource" keyExpr="id" [showBorders]="true"
    [paging]="{ enabled: true, pageSize: 5 }">
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,20]" [showInfo]="true"></dxo-pager>
    <dxi-column dataField="issueCategoriesName" caption="Categories"></dxi-column>
    <dxi-column dataField="productName" caption="Product"></dxi-column>
    <dxi-column caption="Actions" width="150" alignment="center" [cellTemplate]="'actionCell'"></dxi-column>


    <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
      <div *ngIf="cell.data.canEdit">
        <app-button [color]="'blue'" [message]="'Edit'" (clicked)="onClickEditItem(cell.data)"></app-button>
        <app-button [color]="'red'" [message]="'Delete'" (clicked)="deleteTaskItem(cell.data)"></app-button>
        <!-- <app-button [color]="'red'" [message]="'Delete'" (clicked)="deleteItem(cell.data)"></app-button> -->
      </div>
    </div>

  </dx-data-grid>
</div>

<div class="flex justify-start mt-20 ml-20 space-x-2">
  <app-button (clicked)="onSaveForm('Draft')" [message]="'Save Draft'"></app-button>
  <app-button (clicked)="onSaveForm('Submit')" [message]="'Submit'"></app-button>
  <app-button (clicked)="navTo()" [color]="'red'" [message]="'Cancel'"></app-button>
</div>

<dx-popup [width]="600" [height]="600" [(visible)]="InformPopupState" [showTitle]="true" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [title]="titlePopup" (onHiding)="onAddInformPopupClose()">

  <div class="p-4 space-y-6" *ngIf="informTaskData">

    <!-- Category -->
    <div class="flex items-start max-w-full space-x-4 text-xl text-end">
      <label class="mt-2 font-semibold w-36">Issue Category</label>
      <div class="flex-1">
        <dx-select-box [dataSource]="categoryDataSource" [(value)]="informTaskData.issueCategoriesId"
          displayExpr="issueCategoriesName" valueExpr="issueCategoriesId"
          (onValueChanged)="onCategoriesValueChange($event)">
        </dx-select-box>
        <div *ngIf="createTaskErrorMessage.categories"
          class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
          ⚠ {{ createTaskErrorMessage.categories[0] }}
        </div>
      </div>
    </div>

    <!-- Product -->
    <div class="flex items-start max-w-full space-x-4 text-xl text-end">
      <label class="mt-2 font-semibold w-36">Product</label>
      <div class="flex-1">
        <dx-select-box [dataSource]="productDataSource" [(value)]="informTaskData.productId" displayExpr="productName"
          valueExpr="productId" (onValueChanged)="informTaskData.productId = $event.value">
        </dx-select-box>
        <div *ngIf="createTaskErrorMessage.product"
          class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
          ⚠ {{ createTaskErrorMessage.product }}
        </div>
      </div>
    </div>

    <!-- Quantity -->
    <div class="flex items-start max-w-full space-x-4 text-xl text-end" *ngIf="informTaskData.issueCategoriesId === 1">
      <label class="mt-2 font-semibold w-36">Quantity</label>
      <div class="flex-1">
        <dx-number-box [(value)]="informTaskData.quantity!" (onValueChanged)="informTaskData.quantity = $event.value">
        </dx-number-box>
        <div *ngIf="createTaskErrorMessage.quantity"
          class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
          ⚠ {{ createTaskErrorMessage.quantity }}
        </div>
      </div>
    </div>

    <!-- Location -->
    <div class="flex items-start max-w-full space-x-4 text-xl text-end" *ngIf="informTaskData.issueCategoriesId === 2">
      <label class="mt-2 font-semibold w-36">Location</label>
      <div class="flex-1">
        <dx-text-box [(value)]="informTaskData.location!" (onValueChanged)="informTaskData.location = $event.value">
        </dx-text-box>
        <div *ngIf="createTaskErrorMessage.location"
          class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg">
          ⚠ {{ createTaskErrorMessage.location }}
        </div>
      </div>
    </div>

    <!-- Detected Time -->
    <div class="flex items-start max-w-full space-x-4 text-xl text-end"
      *ngIf="informTaskData.issueCategoriesId === 2 || informTaskData.issueCategoriesId === 3">
      <label class="mt-2 font-semibold w-36">Detected Time</label>
      <div class="flex-1">

        <dx-date-box type="datetime" displayFormat="dd/MM/yyyy HH:mm" [value]="informTaskData.detectedTime!"
          (onValueChanged)="informTaskData.detectedTime = $event.value">
        </dx-date-box>
        <div *ngIf="createTaskErrorMessage.detectedTime"
          class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg ">
          ⚠ {{ createTaskErrorMessage.detectedTime }}
        </div>

      </div>
    </div>

    <!-- Button -->
    <div class="">


      <div *ngIf="createTaskErrorMessage.item"
        class="px-3 py-2 mt-1 text-sm text-red-800 bg-red-100 border border-red-400 rounded-lg ">
        ⚠ {{ createTaskErrorMessage.item }}
      </div>
      <div class="flex justify-start pt-4 ml-40">
        <dx-button [text]="popupButtonText" type="success" (onClick)="onValidateData()">
        </dx-button>
      </div>
    </div>

  </div>
</dx-popup>