<app-head-underline [title]="'Create New Task'"></app-head-underline>


<div class="flex m-20 space-x-10 text-end label-box">
  <label for="docNo ml " class="font-bold ">Document No</label>
  <div class="" id="docNo">
    <h4>{{documentNumber}}</h4>
  </div>
</div>

<div class="flex justify-end">
  <app-button (clicked)=" onClickCreateIssueTask()" class="mr-20" [message]="'Create Inform'"></app-button>
</div>

<div class="mt-10 ml-20 mr-20" id="">
  <dx-data-grid [dataSource]="dataValidatedDataSource" keyExpr="id" [showBorders]="true"
    [paging]="{ enabled: true, pageSize: 5 }">
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,20]" [showInfo]="true"></dxo-pager>
    <dxi-column dataField="issueCategoriesName" caption="Categories"></dxi-column>
    <dxi-column dataField="productName" caption="Product"></dxi-column>
    <dxi-column caption="Actions" width="150" alignment="center" [cellTemplate]="'actionCell'"></dxi-column>
    <div class="space-x-2" *dxTemplate="let cell of 'actionCell'">
      <app-button [color]="'blue'" [message]="'Edit'" (clicked)="onClickEditItem(cell.data)"></app-button>
      <app-button [color]="'red'" [message]="'Delete'" (clicked)="deleteItem(cell.data)"></app-button>
    </div>
  </dx-data-grid>
</div>

<div class="flex justify-start mt-20 ml-20 space-x-2">
  <app-button (clicked)="onSaveForm('Draft')" [message]="'Save Draft'"></app-button>
  <app-button (clicked)="onSaveForm('Submit')" [message]="'Submit'"></app-button>
  <app-button [color]="'red'" [message]="'Cancel'"></app-button>
</div>




<dx-popup [width]="600" [height]="500" [(visible)]="InformPopupState" [showTitle]="true" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [title]="titlePopup" (onHiding)="onAddInformPopupClose()">
  <div class="p-4 space-y-4" *ngIf="informTaskData != null">
    <dx-select-box placeholder="Select Issue *" [dataSource]="categoryDataSource"
      [(value)]="informTaskData.issueCategoriesId" displayExpr="issueCategoriesName" valueExpr="issueCategoriesId"
      (onValueChanged)=" onCategoriesValueChange($event)"></dx-select-box>

    <dx-select-box placeholder="Select Product *" [dataSource]="productDataSource" [(value)]="informTaskData.productId"
      displayExpr="productName" valueExpr="productId"
      (onValueChanged)="informTaskData.productId = $event.value"></dx-select-box>

    <dx-number-box *ngIf="informTaskData.issueCategoriesId === 1" placeholder="Quantity *"
      [(value)]="informTaskData.quantity!" (onValueChanged)="informTaskData.quantity = $event.value"></dx-number-box>

    <dx-text-box *ngIf="informTaskData.issueCategoriesId  === 2" placeholder="Location *"
      [(value)]="informTaskData.location!" (onValueChanged)="informTaskData.location = $event.value"></dx-text-box>

    <dx-date-box *ngIf="informTaskData.issueCategoriesId  === 2 ||informTaskData.issueCategoriesId  === 3"
      placeholder="Time To Found" [value]="informTaskData.detectedTime!"
      (onValueChanged)="informTaskData.detectedTime = $event.value"></dx-date-box>

    <!-- File Upload -->
    <!-- <dx-file-uploader
      placeholder="Upload File (Optional)"
      [(value)]="uploadedFile"
    ></dx-file-uploader> -->

    <div class="flex justify-end gap-2 mt-4">
      <dx-button text="Create" type="success" (onClick)="onValidateData()"></dx-button>
    </div>
  </div>
</dx-popup>