<!-- <div class="flex flex-col gap-2">
  <label class="w-32 text-end">{{ text }}</label>
  <div class="grid grid-cols-3 w-full gap-2">
    <dx-check-box
      *ngFor="let opt of options"
      [id]="'check-box-' + opt.value"
      [value]="opt.selected"
      [text]="opt.text"
      (onValueChanged)="onValueChanged(opt, $event)"
      class="flex items-center pl-2"> 
    </dx-check-box>
  </div>
</div> -->

<div class="flex flex-col gap-2">
  <label class="w-32 text-end">{{ text }}</label>

  <div class="grid grid-cols-3 w-full gap-3"> <!-- gap-4 ปรับช่องว่างระหว่างช่อง -->
    <dx-check-box
      *ngFor="let opt of options"
      [id]="'check-box-' + opt.value"
      [value]="opt.selected"
      [text]="opt.text"
      (onValueChanged)="onValueChanged(opt, $event)"
      class="flex items-center w-full px-2"> 
    </dx-check-box>
  </div>
</div>


<!-- <div class="flex items-center" id="">
  <label class="mr-2 text-end">{{ text }}</label>
  <div class="flex space-x-2">
    <dx-check-box
      *ngFor="let opt of options"
      [id]="'check-box-' + opt.value"
      [value]="opt.selected"
      [text]="opt.text"
      (onValueChanged)="onValueChanged(opt, $event)">
    </dx-check-box>
  </div>
</div> -->
